.header {
    display: flex;
    justify-content: space-between;
    background-color: #91d16b;
    height: 15vh;
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
}
 
.scicrop {
    font-weight: 400;
    align-self: center;
}

.leaf {
    margin: 15px 20px;
} 

.btn {
    margin-right: 20px;
    width: 200px;
    height: 30px;
}
